body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}
header{
    height: 550px;
    background-image: url('../images/pattern.png');
    background-repeat: repeat;
    background-position: center;
    margin: 0;
    padding: 0;
    z-index: -1;
}